.cart{
    width: 80%;
    background-color: rgba(32, 32, 36, 0.562);
    margin: auto;
    margin-top: 10%;
    font-family: 'Cardo', serif;
    color: rgb(235, 235, 235);
}

.buttonCart{
    background-color: rgb(207, 207, 201);
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 40px;
    margin-right: 40px;
    border: none;
}

.buttonCart:hover{
    background-color: black;
    color: aliceblue;
}