

.contDetail{
    background-color: rgba(250, 235, 215, 0.24);
}

.prodDetail h3{
    background-color: rgba(0, 0, 0, 0.185);
    color: rgba(24, 21, 18, 0.747);
    font-family: 'Cardo', serif;
    padding: 40px;
    line-height: 40px;
}

.name{
        font-family: 'Julius Sans One', sans-serif;
        margin-top: 20px;
}

.Option{
    text-decoration: none;
    color: rgb(99, 61, 26);
    font-family: 'Cardo', serif;
    font-size: 22px;
}

.Option:hover{
    color: rgb(145, 108, 28);
}

.ItemFooter{
    margin-top: 40px;
}